<%- include('../adminLayout/adminHeader.ejs') %>

    <body>
        <section>
            <div class="container">
                <div>
                    <a href="/admin/category/addCategory" class="btn btn-success">Add Category</a>
                </div>
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Category Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(categories.length> 0) { %>
                            <% for(let i=0; i < categories.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= categories[i].name %>
                                    </td>
                                    <td><a href="/admin/editCategory?id=<%= categories[i]._id %>"><img style="width: 20px; height: auto;"
                                        src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-coloricon-1/21/31-512.png"
                                        alt="Edit"></a></td>
                                  <!-- <td><a href="/admin/deleteCategory?id=<%= categories[i]._id %>"><img style="width: 20px; height: auto;"
                                        src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" alt="Delete"></a></td> -->
                                        <td>
                                        <button type="button" onclick="confirmDelete('<%= categories[i]._id %>')">
                                            <img style="width: 20px; height: auto;" src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" alt="Delete">
                                        </button>
                                    </td>
                                        
                                </tr>
                                <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td>No categories found</td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="container d-flex justify-content-center">
       
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <% if (totalPages > 1) { %>
                                <% if (currentPage > 1) { %>
                                    <a href="?page=1">&laquo;</a>
                                    <a href="?page=<%= currentPage - 1 %>">&lt;</a>
                                <% } %>
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <a class="<%= currentPage === i ? 'active' : '' %>" href="?page=<%= i %>"><%= i %></a>
                                <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <a href="?page=<%= currentPage + 1 %>">&gt;</a>
                                    <a href="?page=<%= totalPages %>">&raquo;</a>
                                <% } %>
                            <% } %>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script>
            function confirmDelete(categoryId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If user confirms, redirect to delete category route
                        window.location.href = '/admin/deleteCategory?id=' + categoryId;
                    }
                });
            }
        </script>
        
        <%- include('../adminLayout/adminFooter.ejs') %>